<!doctype html>
<html lang="en" ng-app="BlackJackFun">
  <head>
    <meta charset="utf-8">
    <title>BlackJackFun</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/styles.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/game.js"></script>
  </head>
  <body ng-controller="BlackJackDealerController">
  <container ng-if="end">
    <container ng-switch on="numberOfWinners">
      <h2 class="winner" ng-switch-when="1">The winner is {{winners}}</h2>
      <h2 class="winner" ng-switch-default>The winners are {{winners}}</h2>
    </container>        
  </container>
  <container class="dealer">    
    <h2 class="dealer-title">Dealer</h2> 
    <ul> 
      <li class="dealer-horizontal" ng-repeat="card in dealerCardsLinks()"><a href="#"><img ng-src="{{card}}"></a></li>
    </ul> 
  </container>
    <br class="clearFloats">
    <h2 class="players-title">Players</h2>
    <div ng-repeat="player in playersIndex">
      <br class="clearFloats">
      <container class="player" >
        <h3 class="player-title">Player {{player+1}}</h3>
        <h4 class="hand-title">Hand</h4>
        <ul>
          <li class="player-horizontal" ng-repeat="card in playerHandCards(player,0)"><a href="#"><img ng-src="{{card}}"></a></li>
        </ul>
        <br class="clearFloats">
        <button class="hit" ng-click="playerHit(player,0)" ng-disabled="players[player].isHandFinished(0)">HIT</button>
        <button class="stand" ng-click="playerStands(player,0)" ng-disabled="players[player].isHandFinished(0)">STAND</button>
        <button class="split" ng-disabled="!players[player].isSplittingAllowed() || players[player].isHandFinished(0)">SPLIT</button>
        <br>
        <span class="score"+{{player}}>Points:{{players[player].score()}}</span>
        <span ng-if="isPlayerSplit(player)">
          <h4 class="hand-title">Hand 2</h4>
          <ul>
            <li class="player-horizontal" ng-repeat="card in playerHandCards(player,1)"><a href="#"><img ng-src="{{card}}"></a></li>
          </ul>
          <br class="clearFloats">
          <button class="hit" ng-click="playerHit(player,1)" ng-disabled="players[player].isHandFinished(1)">HIT</button>
          <button class="stand" ng-click="playerStands(player,1)" ng-disabled="players[player].isHandFinished(1)">STAND</button>
          <button class="split" ng-disabled="!players[player].isSplittingAllowed() || players[player].isHandFinished(1)">SPLIT</button>
          <br>
          <span class="score"+{{player}}>Points:{{players[player].score()}}</span>
        </span>  
      </container>
    <div> 
  </body>
</html>