.dealer-horizontal{
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

.player-horizontal{
  display: inline-block;
  text-align: center;
  list-style-type: none;
}

.players{
  text-align: center;
}

.player{
  text-align: center;
}

.clearFloats{
  clear: both;
}

.dealer-title{
  text-align: center;
}


.winner{
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

.score{
  margin-left: 0;
  margin-right: 0;
}


.lost{
  color: red;
  font-style: bold;
}